<div class="col-md-5">
  <p>
    Auf der Zeichenfläche können Sie Konzepte und Verbindungen erstellen.<br>
    Rechts sehen Sie, wie Sie alles tun können.
  </p>
  <p>
    Mit dem oben genannten Code können Sie später an dem Begrifsnetz weiterarbeiten.<br/>
    Sie können sich den Code notieren, oder ihn sich oben per E-Mail schicken lassen.<br/>
    Die E-Mail Adresse wird nicht vom System gespeichert!
  </p>
  <p>
    Ein Speichern ist nicht nötig, jede Aktion wird automatisch im System gespeichert!<br/>
    Falls Sie außerhalb von CoMapEd an Ihrem Begriffsnetz weiterarbeiten wollen, <br/>
    oder dieses ausdrucken möchten, können Sie es in zwei verschiedenen Formaten exportieren.<br/>
    Das TGF Format können Sie zum Beispiel mit dem kostenlosen Programm yEd öffnen.<br/>
    Sie können diese Hilfe schließen und sich später wieder anzeigen lassen.
  </p>
</div>
<div class="col-md-6">
  <div id="help_general">
    <table class="table table-condensed table-bordered">
      <thead>
      <td>Ziel</td><td>Aktion</td>
      </thead>
      <tbody>
      <% if @concept_map.survey.concept_labels.blank? %>
          <tr>
            <td>Neues Konzept anlegen</td><td>Langer klick auf Zeichenfläche</td>
          </tr>
      <% end %>
      <% if @concept_map.survey.concept_labels.blank? %>
          <tr>
            <td>Konzept/Verbindung bearbeiten oder löschen</td><td>Klick auf Konzept/Verbindung</td>
          </tr>
      <% else %>
          <tr>
            <td>Verbindung bearbeiten oder löschen</td><td>Klick auf Verbindung</td>
          </tr>
      <% end %>
      <tr>
        <td>Neue Verbindung anlegen</td><td>Langer klick  auf Ausgangskonzept, dann auf Endkonzept klicken. </td>
      </tr>
      <tr>
        <td>Konzept verschieben</td><td>Klicken und ziehen</td>
      </tr>
      <tr>
        <td>Ausschnitt anpassen</td><td>1) Klicken und ziehen auf Zeichenfläche, Mausrad für Vergrößern/Verkleinern <br/> 2) Knöpfe am unteren Rand der Zeichenfläche</td>
      </tr>
      </tbody>

    </table>
  </div>

  <div id="help_edit" class="hidden">
    <table class="table table-condensed table-bordered">
      <thead>
      <td>Ziel</td><td>Aktion</td>
      </thead>
      <tbody>
      <tr>
        <td>Bezeichner ändern</td><td><span class="glyphicon glyphicon-ok"></span> oder Enter</td>
      </tr>
      <tr>
        <td><% if @concept_map.survey.concept_labels.blank? %>Konzept/<% end %>Verbindung löschen</td><td><span class="glyphicon glyphicon-trash"></span> (Achtung: Kein Rückgängig!)</td>
      </tr>
      <tr>
        <td>Abbrechen</td><td><span class="glyphicon glyphicon-remove"></span> oder Esc oder Klick auf Zeichenfläche<br/></td>
      </tr>
      <tr><td>&nbsp;</td><td></td></tr>
      <tr><td>&nbsp;</td><td></td></tr>
      </tbody>
    </table>
  </div>

  <div id="help_new" class="hidden">
    <table class="table table-condensed table-bordered">
      <thead>
      <td>Ziel</td><td>Aktion</td>
      </thead>
      <tbody>
      <tr>
        <td>Bezeichner wählen</td><td><span class="glyphicon glyphicon-ok"></span> oder Enter</td>
      </tr>
      <tr>
        <td>Abbrechen</td><td><span class="glyphicon glyphicon-remove"></span> oder Esc oder Klick auf Zeichenfläche<br/></td>
      </tr>
      <tr><td>&nbsp;</td><td></td></tr>
      <tr><td>&nbsp;</td><td></td></tr>
      <tr><td>&nbsp;</td><td></td></tr>
      </tbody>
    </table>
  </div>
</div>

