<div class="row">
  <div class = "col-md-6">
      <div id="new_maps">
          <%= render 'concept_maps/new' %>
      </div>
  </div>
</div>

<div class="row">
  <%= render 'concept_maps/maps' %>
</div>

<script>
  var page = 0;
  var ready = true;

  $(window).off( "scroll" );
  $(window).on('scroll', function() {
    if (ready && ($(window).scrollTop() > $(document).height() - $(window).height() - 60)) {
      ready = false;
      $.getScript("<%= user_project_survey_concept_maps_path(@user, @project, @survey)%>" + "?page=" + (page+1))
    }
  });
</script>