<!-- <p>
  Sie bedienen CoMapEd mit der Maus. Die Hilfe zeigt Ihnen immer genau an, was Sie aktuell tun können. Sie können dieses Fenster und das Hilfefenster schließen und sich später wieder anzeigen lassen.
</p>
<p>
  Mit dem oben genannten Code können Sie später an dem Begrifsnetz weiterarbeiten.<br/>
  Sie können sich den Code notieren, oder ihn sich oben per E-Mail schicken lassen. Die E-Mail Adresse wird nicht vom System gespeichert!
</p>
<p>
  Ein Speichern ist nicht nötig, jede Aktion wird automatisch im System gespeichert!<br/>
  Falls Sie außerhalb von CoMapEd an Ihrem Begriffsnetz weiterarbeiten wollen, oder dieses ausdrucken möchten, können Sie es in zwei verschiedenen Formaten exportieren. Das TGF Format können Sie zum Beispiel mit dem kostenlosen Programm yEd öffnen.<br/>
</p> -->



<p>
  Alle Elemente von CoMapEd werden mit der Maus bedient.
</p>
<br/>
<p>
  ie Kurzhilfe zeigt Ihnen immer genau an, welche Interaktionen mit dem Netz Ihnen zu diesem Zeitpunkt zur Verfügung stehen. Bewegen Sie die Maus einfach über verschiedenen Komponenten des Netzes. <br/>
  Sie können dieses Fenster und das Kurzhilfefenster schließen und sich in der Navigationsleiste später wieder anzeigen lassen.
</p>
<br/>
<p>
  Konzepte können zu Gruppen zusammengefasst, mit verschiedenen Farben eingefärbt und mit Namen klassifiziert werden. Zusätzlich können Sie auch die Hintergrundfarbe verändern. <br/>
  Falls Sie außerhalb von CoMapEd an Ihrem Begriffsnetz weiterarbeiten wollen, oder dieses ausdrucken möchten, können Sie es in zwei verschiedenen Formaten exportieren. Das TGF Format können Sie zum Beispiel mit dem kostenlosen Programm yEd öffnen. <br/>
  Mit dem oben genannten Code können Sie später an dem Begrifsnetz weiterarbeiten. Sie können sich den Code notieren oder ihn sich per E-Mail schicken lassen. Die E-Mail Adresse wird nicht vom System gespeichert!
</p>
<br/>
<p>
  Explizites Speichern ist nicht nötig, jede Aktion wird automatisch im System gespeichert!
</p>