<p>
  CoMapEd is operated with the mouse. The help will show you what you can do at any moment. You can close this window and the help and open them again, later.
</p>
<p>
  You can return to this concept map using the code above <br/>
  You can write down the code or send yourself an e-mail, above. The e-mail address will not be stored by the system.
</p>
<p>
  There is no need to save, each action will be saved automatically by the system!<br/>
  If you want to work on your concept map outside of CoMapEd or print your map, you can export it in two different formats. You can open the TGF format for example using the free programm yEd.
</p>


