<!-- <p>
  CoMapEd is operated with the mouse. The help will show you what you can do at any moment. You can close this window and the help and open them again later.

</p>
<p>
  You can return to this concept map using the code above. <br/>
  You can write down the code or send yourself an e-mail, above. The e-mail address will not be stored by the system.
</p>
<p>
  There is no need to save, each action will be saved automatically by the system!<br/>
  If you want to work on your concept map outside of CoMapEd or print your map, you can export it in two different formats. You can open the TGF format for example using the free programm yEd.
</p> -->

<p>
Everything in CoMapEd is operated with the mouse.
</p>
<br/>
<p>
The quick help will show all possible actions for interacting with the concept map at any moment. Simply hover the mouse over different components of the map. <br/>
Both this window and the quick help can be closed and opened up again in the navigation bar above.
</p>
<br/>
<p>
You can choose different colors for groups of concepts and classify each used color with a caption. Also feel free to change the background color. <br/>
If you want to work on your concept map outside of CoMapEd or print it, you can export it in two different formats. For example the free programm yEd can be used to open the TGF format. <br/>
You can always return to this concept map using the code above. Therefore write down the code or send yourself the code in an e-mail. The e-mail address will not be stored by the system.
</p>
<br/>
<p>
Don’t worry about saving your progress, each action will be saved automatically by the system!
</p>