<div class="card" style="width: 100%; padding-bottom: 56%">
  <div id="canvas_<%= concept_map.id%>" style="position:  absolute; top: 0; left: 0; bottom: 0; right: 0; margin-bottom: 20px; margin-left: 20px; margin-right: 20px">
  </div>
</div>

<script type="module">
  let nodes = [
    <% concept_map.concepts.each do |c| %>
    <%= render c %>,
    <% end %>
  ];

  let edges = [
    <% concept_map.links.each do |l| %>
    <%= render l %>,
    <% end %>
  ];

  initBackend({edgeData: edges, nodeData: nodes, id: <%= concept_map.id%>})

</script>
