<div class="row">
  <div class = "col-sm-6">
    <div class="card card-default">
      <div class="card-header">
        <%= link_to raw("<span class='bi-plus'></span> ") + t('projects.new'), new_user_project_path(@user),  remote: true %>
      </div>
    </div>
  </div>
  <div class = "col-sm-6">
    <div class="card card-default">
      <div class="card-header">
        <%= link_to raw("<span class='bi-box-arrow-in-down-right'></span> ") + t('projects.import'), new_user_project_path(@user, import: true), remote: true %>
      </div>
    </div>
  </div>
</div>
