<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to raw("<span class='glyphicon glyphicon-plus'></span> ") + t('projects.new') + " / " + t('projects.import'), new_user_project_path(@user), remote: true %>
  </div>
</div>