<div class="row">
  <div class = "col-md-4">
    <div id="new_project">
      <%= render 'new' %>
    </div>
  </div>
</div>

<% count = 0 %>
<% @projects.each do |p| %>
 <% if count == 0 then %>
    <div class = "row">
 <% end %>
  <div class = "col-md-4">
    <%= render p %>
  </div>
  <% if count == 2 then %>
      </div>
  <% end %>
  <% count = (count+1) % 3 %>
<% end %>
<% if count != 0 then %>
    </div>
<% end %>


