<div class="row mb-4">
  <div class = "col-8 col-md-6">
    <div id="new_project">
      <%= render 'new_buttons' %>
    </div>
  </div>
</div>

<div class = "row">
  <% @projects.each do |p| %>
    <div class = "col-md-6 col-xl-4 mb-4">
      <%= render p %>
    </div>
  <% end %>
</div>