<div class="row">
  <div class = "col-md-12">
    <div class="card card-default">
      <div class="card-header">
        <%= @project.name %>
        <%= link_to raw("<span class='bi-x-lg'></span>"), user_projects_path(@user), class: "float-end"%>
      </div>
      <div class="card-body">
        <div class="container-fluid p-0">
          <div class="row">
            <div class = "col-md-12">
              <p><%= @project.description %></p>
            </div>
          </div>
          <%= render 'surveys/index' %>
        </div>
      </div>
    </div>
  </div>
</div>

