<div class="row mb-4">
  <div class = "col-md-4">
    <div id="new_survey">
      <%= render 'surveys/new_buttons' %>
    </div>
  </div>
</div>
<div class="row">
<% @surveys.each do |s| %>
  <div class = "col-md-6 col-xl-4 mb-4">
    <%= render s %>
  </div>
<% end %>
</div>