<div class="row">
  <div class = "col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to raw("<span class='glyphicon glyphicon-plus'></span> ") + t('surveys.new'), new_user_project_survey_path(@user, @project), remote: true, data: {action: 'basic'} %>
      </div>
    </div>
  </div>
  <div class = "col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to raw("<span class='glyphicon glyphicon-import'></span> ") + t('surveys.import'), new_user_project_survey_path(@user, @project, import: true), remote: true %>
      </div>
    </div>
  </div>
</div>
