<p id="ch_editMode" class="d-none">
  <% if @concept_map.survey.concept_labels.blank? %><% end %>Select button to edit or add nodes/edges. Change view: click and drag, scroll (or use buttons at the bottom)
</p>

<p id="ch_addNodeMode" class="d-none">
  <% if @concept_map.survey.concept_labels.blank? %><% end %>Click on empty space to create a node. Press ESC or select another button to abort.
</p>

<p id="ch_addEdgeMode" class="d-none">
  <% if @concept_map.survey.concept_labels.blank? %><% end %>Drag Arrow from start-concept to target-conmcept to create an edge. Press ESC or select another button to abort.
</p>

<p id="ch_hovernode" class="d-none">
  Click to edit, or drag to move node. <% if @concept_map.survey.concept_labels.blank? %>PLACEHOLDER<% end %>
</p>

<p id="ch_hoveredge" class="d-none">
  Click to edit or delete edge.
</p>

<p id="ch_editNode" class="d-none">
  Choose new label, color and shape, then confirm with <span class="bi-check-lg"></span> or ENTER. Cancel with <span class="bi-x-lg"></span> or ESC. Delete with <span class="bi-trash"></span> (<strong>Caution:</strong> No undo!)
</p>

<p id="ch_editEdge" class="d-none">
  Choose new label and direction, then confirm with <span class="bi-check-lg"></span> or ENTER. Cancel with <span class="bi-x-lg"></span> or ESC. Delete with <span class="bi-trash"></span> (<strong>Caution:</strong> No undo!)</p>

<p id="ch_newNode" class="d-none">
  Choose new label, color and shape, then confirm with <span class="bi-check-lg"></span> or ENTER. Cancel with <span class="bi-x-lg"></span> or ESC.
</p>

<p id="ch_newEdge" class="d-none">
  Choose new label and direction, then confirm with <span class="bi-check-lg"></span> or ENTER. Cancel with <span class="bi-x-lg"></span> or ESC.
</p>

