<span id="edgepicker">
  <input id="edge" type="hidden" name="link[arrows]" value= "to"/>
  <div id= "currentEdge" class="btn shape arrow-direction arrow" style="display: inline-block; width: 50px; height:36px; background-color: <%= default_color %>;" onclick="changeEdgeShape();"></div>
</span>



