<span id="edgepicker">
  <input id="edge" type="hidden" name="link[arrows]" value= "to"/>
  <div id= "currentEdge" class="btn shape arrow-direction from-arrow" style="display: inline-block; width: 40px; height:30px; background-color: <%= default_color %>;" onclick="changeEdgeShape();"></div>
</span>



