<div class="modal fade" id="intro" tabindex="-1" role="dialog" aria-hidden="true" style="touch-action: none">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Was ist ein Begriffsnetz?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Ein Begriffsnetz (Concept Map) ist eine Möglichkeit, Wissen strukturiert darzustellen.<br/>
          Es besteht aus einer Menge von Konzepten (Begriffen), zwischen denen Verbindungen existieren.<br/>
          Die Verbindungen haben eine Pfeilrichtung und eine (kurze) Bezeichnung, oft nur ein Verb evtl. mit einer Präposition.<br/>
          Zwei so verbundene Konzepte stellen mit der Verbidndung in Pfeilrichtung gelesen einen "Fakt" dar.
        </p>
        <p>
          Zum Beispiel könnte man die Konzepte "Mensch" und "Haustier" mit einer Verbindung "hält" verbinden oder die Konzepte "Hund" und "Haustier" mit "ist ein".<br/>
          Ein Konzept kann auch mit sich selbst verbunden werden, aber zwischen zwei Konzepten kann es maximal zwei Verbindungen im Begriffsnetz geben.<br/>
          Die Konzepte können frei auf der Zeichenfläche arrangiert werden.<br/>
          Ein Begriffsnetz könnte dann zum Beispiel so aussehen:<br/>
        </p>
        <p class="text-center">
          <%= image_tag('example_map_de.png', width: '80%', height: '60%') %>
        </p>
        <p>
          Im Folgenden sollen Sie nun selbst ein Begriffsnetz entwickeln.
        </p>
        <p class="text-center"><button class='btn btn-secondary' data-dismiss="modal" onclick="hideModal();">Weiter</button></p>
      </div>
    </div>
  </div>
</div>