<div class="modal fade" id="intro" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>What is a concept map?</h4>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span class="bi-x-lg" aria-hidden="true"></span></button>
      </div>
      <div class="modal-body">
        <p>
          A concept map is a way of organizing and visualizing knowledge.<br/>
          It consists of a set of concepts (labels) and connections between them.<br/>
          The connections have a direction and a (short) labels, often a verb and maybe a preposition.<br/>
          Two connected concepts when read together with the label of the connection in its direction are forming a "fact".<br/>
        </p>
        <p>
          For example, the concepts "humans" and "pets" can be connected with the label "have", or the concepts "dog" and "pet" with "is a"<br/>
          A concept can also be connected to itself, but between any two concepts there can only be one connection in a concept map.<br/>
          Concepts can be arranged freely on the canvas.<br/>
          Am example of a concept map is:
        </p>
        <p class="text-center">
          <%= image_tag('example_map_en.png', width: '60%', height: '50%') %>
        </p>
        <p>
          You are now asked to create a concept map yourself.
        </p>
        <p class="text-center"><button class='btn btn-secondary' data-dismiss="modal" onclick="hideModal();">Continue</button></p>
      </div>
    </div>
  </div>
</div>