<%= render 'concept_maps/editor/explanation' %>

<script>
    let ids = ["#header-nav", "#header-code", "#header-search", "#context-help", ".vis-up", ".vis-zoomExtends"];
    let placements = ["right", "bottom", "left", "top", "right", "left"];

    <%= render 'concept_maps/editor/intro_texts' %>

    for (let i = 0; i < texts.length; ++i)
        texts[i] = "<p class='text-justify'>" + texts[i] + "<p class='text-center'><button class='btn btn-sm btn-outline-primary' onclick='next();'>" + (i == texts.length-1 ? btn_last : btn_standard) + "</button></p>";

    title = title + " <button type='button' class='close' onclick='stop();' aria-label='Close'><span class='glyphicon glyphicon-remove' aria-hidden='true' style='font-size: 12pt; top: -2px;'></span></button>";


    function next() {
        if (i > 0)
            $(ids[i-1]).popover("destroy");
        if (i < ids.length) {
            $(ids[i]).data("toggle", "popover");
            $(ids[i]).data("viewport", {'selector': 'body', 'padding': 15});
            $(ids[i]).data("placement", placements[i]);
            $(ids[i]).data("title", title);
            $(ids[i]).data("content", texts[i]);
            $(ids[i]).popover({html: true});
            $(ids[i]).popover("show");
            ++i;
        }
    };

    function stop() {
        $(ids[i-1]).popover("destroy");
        i = ids.length;
    };

    let i = 0;
    $("#intro").on("hidden.bs.modal", function (e) {
        next();
    });

    $(document).ready(function(){
        $("#intro").modal("show");
    });

</script>

