html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  touch-action: none;
  .main-container {
    top: $header-height;
    margin: 0 !important;
  }
}

.code-text {
  display: none;
}

@include media-breakpoint-up(sm) {
  .button-text {
    display: none;
  }

  .code-text {
    display: inline-block;
  }
}

@include media-breakpoint-up(md) {
  .button-text {
    display: block;
  }

  .code-text {
    display: inline-block;
  }
}

.color {
  font-family: 'bootstrap-icons';
  &:before {
    content: '\F4B1';
  }
}

#currentShape {
  background-repeat: no-repeat;
  background-position: center;
  &.currently-circle {
    background-image: $circle-icon;
  }
  &.currently-box {
    background-image: $box-icon;
  }
  &.currently-ellipse {
    background-image: $ellipse-icon;
  }
}

.shape-select {
  background-repeat: no-repeat;
  background-position: center;
  &.ellipse-select {
    background-image: $ellipse-icon !important;
  }

  &.circle-select {
    background-image: $circle-icon !important;
  }

  &.box-select {
    background-image: $box-icon !important;
  }
}

.arrow {
  background-image: $arrow !important;
  background-position: 8px 1px;
}

/* Blue */
.info {
  color: dodgerblue;
}

.info:hover {
  background: #2196f3;
  color: rgb(0, 0, 0);
}

.info:focus {
  outline: none;
  box-shadow: none;
}

.active-button {
  border: 3px solid rgb(0, 142, 185) !important;
}

.bi-check-lg {
  position: relative !important;
  padding: 12 12 !important;
}

#hoverButton {
  background-image: $pencil-light;
  background-position: 2px 1px;
  background-repeat: no-repeat;
  background-color: #fcfcfc;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  box-sizing: content-box;
  float: left;
  font-family: verdana;
  font-size: 12px;
  height: 24px;
  margin-left: 10px;
  padding: 0 12px;
  position: absolute;
  z-index: 1;
  display: block;
}

#hoverButton:hover {
  background-image: $pencil-light;
  background-color: #aaa9a9;
}

#login {
  position: relative;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

.map-wrapper {
  padding: 0 !important;
}

#map-canvas {
  height: calc(100% - $header-height);
  background-color: #f8f8f8;
}

#context-help {
  position: absolute;
  right: 50%;
  bottom: 15px;
  z-index: 1;
  display: inline-block;
  transform: translatex(50%);
  background-color: #1b809e;
  padding: 5px;
  color: white;
  padding: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

#task {
  position: absolute;
  right: 50%;
  top: 75px;
  z-index: 1;
  display: inline-block;
  transform: translatex(50%);
  background-color: white;
  padding: 5px;
  color: black;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  padding: 10px;
}

.vis-button {
  color: #1b809e;
  font-family: 'bootstrap-icons';
  font-size: 32px;
  cursor: pointer;
  &:hover {
    box-shadow: none !important;
    color: #07668a;
  }
}

.vis-right {
  background-image: none !important;
  margin-left: 15px;
  margin-bottom: 15px;
  &:after {
    content: '\f133';
  }
}

.vis-left {
  background-image: none !important;
  margin-left: 15px;
  margin-bottom: 15px;
  &:after {
    content: '\f129';
  }
}

.vis-up {
  background-image: none !important;
  margin-left: 15px;
  margin-bottom: 15px;
  &:after {
    content: '\f139';
  }
}

.vis-down {
  background-image: none !important;
  margin-left: 15px;
  margin-bottom: 15px;
  &:after {
    content: '\f118';
  }
}

.vis-zoomIn {
  background-image: none !important;
  margin-right: 15px;
  margin-bottom: 15px;
  &:after {
    content: '\f4f9';
  }
}

.vis-zoomOut {
  background-image: none !important;
  margin-right: 15px;
  margin-bottom: 15px;
  &:after {
    content: '\f2e5';
  }
}

.vis-zoomExtends {
  background-image: none !important;
  margin-right: 15px;
  margin-bottom: 15px;
  &:after {
    content: '\f2dd';
  }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
.toast {
  position: absolute;
  right: 50%;
  bottom: 15px;
  z-index: 1;
  display: inline-block;
  transform: translatex(50%);
  background-color: #1b809e;
  padding: 5px;
  color: white;
  padding: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.error_toast {
  background-color: rgb(214, 16, 16) !important;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

#edit-dialog-header {
  cursor: move;
}

.editor-buttons {
  z-index: 5;
  padding: 1em;
  .btn.editor-button {
    font-family: 'bootstrap-icons';
    display: flex;
    border: 1px solid #ccc;
    border-radius: 6px !important;
    box-sizing: content-box;
    height: 1.5em;
    margin-bottom: 0.5em;
    padding: 0 12px;
    z-index: 1;
    color: $blue;
    width: 6em;
    @media (max-width: 768px) {
      width: 1em;
    }
    span.button-text {
      margin-left: 5px;
      font-family: $font-family-sans-serif;
    }
  }
  #editButton {
    &:before {
      content: '\F4C9';
    }
  }

  #nodeButton {
    &:before {
      content: '\F24D';
    }
  }

  #edgeButton {
    &:before {
      content: '\F123';
    }
  }
  #logButton {
    &:before {
      content: '\F227';
    }
  }
}
