#toggle_button {
  position: absolute;
  right: 40%;
  bottom: 0px;
  z-index: 1;
  width: 20%;
  background-color: $blue;
  text-align: center;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 50% 100%, 0% 50%);
  font-size: 14px;
  cursor: pointer;
}

#right {
  position: fixed;
  top: $header-height;
  display: none;
  background-color: white;
  @media (min-width: 992px) {
    position: relative;
    display: block;
    right: 0;
  }
}
