// Place all the styles related to the ConceptMaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

#login {
  position: relative;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

#map-canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

#header-nav {
  position: absolute;
  top: 15px;
  left: 30px;
  z-index: 1;
  display: block;
}

#header-code {
  position: absolute;
  right: 50%;
  top: 15px;
  z-index: 1;
  display: inline-block;
  transform: translatex(50%);
  background-color: #1b809e;
  padding: 5px;
  color: white;
}

#header-search {
  position: absolute;
  right: 30px;
  top: 15px;
  z-index: 1;
  display: block;
}

#submit-mail {
  background-color: #1b809e;
}

#submit-mail:hover {
  background-color: #07668a;
}

.canvasButton {
  color: #1b809e;
  font-family: "Glyphicons Halflings";
  font-size: 32px;
}

.canvasButton:hover {
  color: #07668a;
  cursor: pointer;
}

#context-help {
  position: absolute;
  right: 50%;
  bottom: 15px;
  z-index: 1;
  display: inline-block;
  transform: translatex(50%);
  background-color: #1b809e;
  padding: 5px;
  color: white;
}

#task {
  position: absolute;
  right: 50%;
  top: 75px;
  z-index: 1;
  display: inline-block;
  transform: translatex(50%);
  background-color: #1b809e;
  padding: 5px;
  color: white;
}

.vis-button {
  color: #1b809e;
  font-family: "Glyphicons Halflings";
  font-size: 32px;
  cursor: pointer;
}

.vis-button:hover {
  box-shadow: none !important;
  color: #07668a;
}

.vis-right {
  background-image: none !important;
  margin-left: 15px;
  margin-bottom: 15px;
}

.vis-right::after {
  content: "\e131";
}

.vis-left {
  background-image: none !important;
  margin-left: 15px;
  margin-bottom: 15px;
}
.vis-left::after {
  content: "\e132";
}

.vis-up {
  background-image: none !important;
  margin-left: 15px;
  margin-bottom: 15px;
}
.vis-up::after {
  content: "\e133";
}

.vis-down {
  background-image: none !important;
  margin-left: 15px;
  margin-bottom: 15px;
}
.vis-down::after {
  content: "\e134";
}

.vis-zoomIn {
  background-image: none !important;
  margin-right: 15px;
  margin-bottom: 15px;
}
.vis-zoomIn::after {
  content: "\e081";
}

.vis-zoomOut {
  background-image: none !important;
  margin-right: 15px;
  margin-bottom: 15px;
}
.vis-zoomOut::after {
  content: "\e082";
}

.vis-zoomExtends {
  background-image: none !important;
  margin-right: 15px;
  margin-bottom: 15px;
}
.vis-zoomExtends::after {
  content: "\e087";
}
