// Place all the styles related to the ConceptMaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base64";

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  touch-action: none;
}

.color{
  background-image:$color !important;
  background-position:8px 1px;
  background-repeat:no-repeat;
}

.shape{
  background-repeat:no-repeat;
}

.shapes{
  background-image: $shapes !important;
  background-position:8px 1px;
}

.ellipse{
  background-image: $ellipse !important;
  background-position:4px -2px;
}

.circle{
  background-image: $circle-icon !important;
  background-position:4px -1px;
}

.box{
  background-image: $box !important;
  background-position:4px -2px;
}






.to-arrow{
  background-image: $right-arrow !important;
  background-position:8px 1px;
}

.from-arrow{
  background-image: $left-arrow !important;
  background-position:8px 1px;
}


.btn { 
  border: 2px solid black;
  background-color: rgba(55, 190, 190, 0.397);
  color: black;
  //padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Blue */
.info {
  color: dodgerblue;
}

.info:hover {
  // background-color: rgb(104, 184, 0);
  background: #2196F3;
  color: rgb(0, 0, 0);
}

.info:focus {
  outline: none;
  box-shadow: none;
}

.active-button {
  border: 3px solid rgb(0, 142, 185) !important;
}

.bi-check-lg {
  position: relative !important;
  padding: 12 12 !important;
}



.btn-group {
  display: block;
  
}

#editButton {
  background-image: $editButton;
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: content-box;
  float: left;
  font-family: verdana;
  font-size: 12px;
  height: 24px;
  margin-left: 10px;
  padding: 0 12px;
  position: relative;
  left: 60px;
  top: -35px;
  z-index: 1;
  display: block;
}


button span {
  margin-left: 15px;
}



#nodeButton {
  background-image: $nodeButton;
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: content-box;
  float: left;
  font-family: verdana;
  font-size: 12px;
  height: 24px;
  margin-left: 10px;
  padding: 0 12px;
  position: relative;
  left:60px;
  top: -35px;
  z-index: 1;
  display: block;
}



#edgeButton {
  background-image: $edgeButton;
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: content-box;
  float: left;
  font-family: verdana;
  font-size: 12px;
  height: 24px;
  margin-left: 10px;
  padding: 0 12px;
  position: relative;
  left: 60px;
  top: -35px;
  z-index: 1;
  display: block;
}

#hoverButton {
  background-image: $pencil-light;
  background-position:2px 1px;
  background-repeat:no-repeat;
  background-color: #fcfcfc;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  box-sizing: content-box;
  float: left;
  font-family: verdana;
  font-size: 12px;
  height: 24px;
  margin-left: 10px;
  padding: 0 12px;
  position: absolute;
  z-index: 1;
  display: block;
}

#hoverButton:hover {
  background-image: $pencil-light;
  background-color: #aaa9a9;
}


#login {
  position: relative;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

#map-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

#header-nav {
  position: relative;
  top: 0px;
  left: 30px;
  z-index: 1;
  display: block;
}

#header-code {
  position: relative;
  float: right;
  right: 90px;
  top: -35px;
  z-index: 1;
  display: inline-block;
  //transform: translatex(50%);
  background-color: #1b809e;
  padding: 5px;
  color: white;
}

#header-search {
  position: relative;
  right: -200px;
  top: -40px;
  float:right;
  z-index: 1;
  display: block;
}

#submit-mail {
  background-color: #1b809e;
  &:hover {
    background-color: #07668a;
  }
}

.canvasButton {
  color: #1b809e;
  font-family: "bootstrap-icons";
  font-size: 32px;
  &:hover {
    color: #07668a;
    cursor: pointer;
  }
}

#context-help {
  position: absolute;
  right: 50%;
  bottom: 15px;
  z-index: 1;
  display: inline-block;
  transform: translatex(50%);
  background-color: #1b809e;
  padding: 5px;
  color: white;
  padding: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

#task {
  position: absolute;
  right: 50%;
  top: 75px;
  z-index: 1;
  display: inline-block;
  transform: translatex(50%);
  background-color: white;
  padding: 5px;
  color: black;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  padding: 10px;
}

.vis-button {
  color: #1b809e;
  font-family: "bootstrap-icons";
  font-size: 32px;
  cursor: pointer;
  &:hover {
    box-shadow: none !important;
    color: #07668a;
  }
}

.vis-right {
  background-image: none !important;
  margin-left: 15px;
  margin-bottom: 15px;
  &:after {
    content: "\f133";
  }
}

.vis-left {
  background-image: none !important;
  margin-left: 15px;
  margin-bottom: 15px;
  &:after {
    content: "\f129";
  }
}

.vis-up {
  background-image: none !important;
  margin-left: 15px;
  margin-bottom: 15px;
  &:after {
    content: "\f139";
  }
}

.vis-down {
  background-image: none !important;
  margin-left: 15px;
  margin-bottom: 15px;
  &:after {
    content: "\f118";
  }
}

.vis-zoomIn {
  background-image: none !important;
  margin-right: 15px;
  margin-bottom: 15px;
  &:after {
    content: "\f4f9";
  }
}

.vis-zoomOut {
  background-image: none !important;
  margin-right: 15px;
  margin-bottom: 15px;
  &:after {
    content: "\f2e5";
  }
}

.vis-zoomExtends {
  background-image: none !important;
  margin-right: 15px;
  margin-bottom: 15px;
  &:after {
    content: "\f2dd";
  }
}


 /* The snackbar - position it at the bottom and in the middle of the screen */
 .toast {

  position: absolute;
  right: 50%;
  bottom: 15px;
  z-index: 1;
  display: inline-block;
  transform: translatex(50%);
  background-color: #1b809e;
  padding: 5px;
  color: white;
  padding: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.error_toast {
  background-color: rgb(214, 16, 16) !important;
}


/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 

// #mydiv {
//   position: absolute;
//   z-index: 9;
//   background-color: #f1f1f1;
//   border: 1px solid #d3d3d3;
//   text-align: center;
// }
#edit-dialog-header {
   cursor: move;
 }