<div class="well">
  <h3>Was ist ein Begriffsnetz?</h3>
  <p>
    Ein Begriffsnetz (Concept Map) ist eine Möglichkeit, Wissen strukturiert darzustellen.<br/>
    Es besteht aus einer Menge von Konzepten (Begriffen), zwischen denen Verbindungen existieren.<br/>
    Die Verbindungen haben eine (kurze) Bezeichnung, oft ein Verb evtl. mit einer Präposition.
  </p>
  <p>
    Zwei verbundene Konzepte stellen einen "Fakt" dar.<br/>
    Zum Beispiel könnte man die beiden Konzepte "Auto" und "Motor" haben, zwischen denen eine Verbindung
    mit der Bezeichnung "besitzt" existiert.<br/>
    Das würde den Fakt "Auto besitzt Motor" darstellen.<br/>
    Ein Konzept kann auch mit sich selbst verbunden werden, aber zwischen zwei Konzepten kann es maximal eine Verbindung im Begriffsnetz geben.<br/>
    Die Konzepte können frei arrangiert werden.<br/>
    Ein Begriffsnetz könnte zum Beispiel so aussehen:<br/>
  </p>
  <p>
    <%= image_tag('example_map_de.png', width: '60%', height: '60%') %>
  </p>
  <p>
    Im Folgenden sollen Sie nun selbst ein Begriffsnetz entwickeln.
  </p>
</div>
