<div class="well">
  <h2>Was ist ein Begriffsnetz</h2>
  <p>
    Ein Begriffsnetz (Concept Map) ist eine Möglichkeit, Wissen strukturiert darzustellen <br/>
    Es besteht aus einer Menge von Konzepten (Begriffen), zwischen denen Verbindungen existieren.<br/>
    Die Verbindungen haben eine Bezeichnung (oft ein Verb evtl. mit einer Präposition)<br/>
    Zwei verbundene Konzepte stellen einen "Fakt" des Anwendungsgebietes dar.<br/>
    Zum Beispiel könnte man die beiden Konzepte "Auto" und "Motor" haben, zwischen denen eine Verbindung
    mit der Bezeichnung "besitzt" existiert.<br/>
    Das würde den Fakt "Auto besitzt Motor" darstellen.<br/>
    Ein Konzept kann auch mit sich selbst verbunden werden, aber zwischen zwei Konzepten kann es maximal eine Verbindung geben.<br/>
    Die Konzepte können frei arrangiert werden.
  </p>
  <p>
    Ein Begriffsnetz über Auots könnte zum Beispiel so aussehen:<br/>

  </p>
  <p>
    Im Folgenden sollen Sie nun selbst ein Begriffsnetz entwickeln.
  </p>
  <%= link_to 'Weiter', edit_concept_map_path(@concept_map), :class => "btn btn-primary btn-medium" %>

</div>
